#headerLogo {
    width: 200px;
    float: left;
}

.navbar-brand {
    padding: 0px;
}

.item1 {
    background-color: white;
    opacity: 80%;
    /* border-bottom: 6px solid #d62a81; */
}

.item1:after {
    content: "";
    background: -webkit-linear-gradient(left, rgba(92, 7, 52, 1) 0%, rgba(134, 29, 84, 1) 12%, rgba(255, 93, 177, 1) 47%, rgba(83, 0, 30, 1) 100%);
    display: block;
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 5;
}

#searching {
    float: right !important;
    padding-top: 30px;
}

/* .item1 {
  background: linear-gradient(270deg, #ffe300, #d62a81);
background-size: 400% 400%;

-webkit-animation: AnimationName 1s ease infinite;
-moz-animation: AnimationName 1s ease infinite;
animation: AnimationName 1s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
} */